/*
* 幅
*/
$sizeSm: 900px;
$sizeSm: 1200px;
$sizeSm: 1600px;

/*
* 色
*/
$black: #222;
$white: #fff;
$gray: #e8e8e8;

/*
* 状態色
*/
$alert: #ff4141;

/*
* フォント
*/
$fontJp: "Kaisei Opti", serif;
$fontEn: "PT Sans Narrow", serif;
