---
const { pageTitle } = Astro.props;
import { siteMeta } from "../constants/";

import "../assets/scss/foundation/index.scss";
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width initialsclae=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{ pageTitle ? `${pageTitle} | ${siteMeta.subTitle}` : `${siteMeta.subTitle}`}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kaisei+Opti&display=swap" rel="stylesheet">
	</head>
	<body>
		<slot />
	</body>
</html>

<script>
import Lenis from "lenis";

const lenis = new Lenis({
	autoRaf: true,
});

lenis.on('scroll', (e) => {})
</script>

<style lang="scss">
@use '../assets/scss/global/index.scss' as g;

body {
	background: g.$gray;
	padding: 10px;
}
</style>
